@font-face {
    font-family: 'News Gothic';
    src: url('fonts/NewsGothicBeckerNo2.eot');
    src: url('fonts/NewsGothicBeckerNo2.eot?#iefix') format('embedded-opentype'),
        url('fonts/NewsGothicBeckerNo2.woff2') format('woff2'),
        url('fonts/NewsGothicBeckerNo2.woff') format('woff'),
        url('fonts/NewsGothicBeckerNo2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
